html,
body {
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
min-height: 100vh;
    background: #111;
    overflow-x: hidden;
}


/* =========================
   ESCENARIO
========================= */

#scene{
    position: relative;
    width: 100%;
height: 2700px;}

#story-stage{
    position: fixed;

    top: 0;
    left: 50%;

    width: 1366px;
    height: 2888px;

    transform: translateX(-50%);

    z-index: 1;

    pointer-events: none;
}


/* =========================
   FONDO ROJO
========================= */
.fondo{
    position: absolute;

    top: 0;
    left: 0;

    width: 1366px;
    height: auto;

    display: block;

    z-index: 1;

    transform: translateY(0);
}



/* =========================
   PLANO NEGRO
========================= */

.plano-negro{
    position: absolute;

    top: 0;
    left: 0;

    width: 1366px;
    height: auto;

    display: block;

    z-index: 2;

    

    transform: translateY(0);
}

.madre1{

    left:248px;
    top:450px;

}

.madre2{

   left:857px;
   top:600px;

}

.madre3{

    left:95px;
    top:1100px;

}

.madre4{

    left:470px;
    top:1100px;

}

.madre5{

    left:860px;
    top:1600px;

}

.madre6{

    left:95px;
    top:1800px;

}

.madre7{

    left:460px;
    top:2200px;

}


.foto {
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    transition:
        opacity 0.4s ease,
        filter 0.4s ease;
}

.foto-gris {
    opacity: 1;
    z-index: 2;
}

.foto-color {
    opacity: 0;
    z-index: 3;
}

.madre{
    position:absolute;
    pointer-events: auto;
    cursor: pointer;
}

.madre:hover .foto-gris {
    opacity: 0,5;
}

.madre:hover .foto-color {
    opacity: 1;
}


.madre:hover .foto-color {
    filter:
        drop-shadow(0 0 8px rgba(255,255,255,0.9))
        drop-shadow(0 0 25px rgba(255,255,255,0.5));
}

.foto-color {
    filter: none;
}

.ficha{

    position:absolute;

    top:285px;
    left:4px;

    opacity:0;

    transform:translateY(-40px);

    transition:.45s ease;

}

.madre:hover .ficha{

    opacity:1;

    transform:translateY(0);

}



#scroll-layer{
    position:fixed;

    top:0;
    left:50%;

    width:1366px;
    height:2888px;

    transform:translateX(-50%) ;

    z-index:10;

    pointer-events:none;
}