*{
 font-family: "Archivo", sans-serif;
   font-optical-sizing: auto;
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    margin:0;
    width:100vw;
    min-height:300vh;
}

.identidad{
    position:fixed;
    inset:0;
    width:100vw;
    height:100vh;
    object-fit:cover;
    z-index:-1;
}

.logo{
    position:fixed;
    top:5%;
    left:3%;
    width:100px;
    height:auto;
    user-select:none;
    pointer-events:none;
}

.btn-historias{
    position:fixed;
 
    left:65.5%;
    top:68%;
z-index: 10;
    opacity:0;
    transform:translateY(20px);

    transition:
        opacity 0.6s ease,
        transform 0.6s ease;

    pointer-events:none;
}

.btn-historias.visible{
    opacity:1;
    transform:translateY(0);
    pointer-events:auto;
}

.btn-historias img{
    width:250px;
    height: auto;
    display:block;
}

.btn-historias:hover{
    transform:scale(1.05);
    filter:drop-shadow(0 0 10px rgba(180,0,0,.7));
}


.label{
    position:absolute;
    opacity:0.45;
    cursor:pointer;

    transition:opacity 0.3s ease;
}

.label:hover{
    opacity:1;
}


#txtFecha{
    position:fixed;

    left:43.3%;
    top:21.7%;

    opacity:0;
    transform:translateY(20px);

    transition:
        opacity 0.6s ease,
        transform 0.6s ease;

    pointer-events:none;
}

#txtFecha.visible{
    opacity:0.45;
    transform:translateY(0);
    pointer-events:auto;
}

#txtFecha.visible:hover{
    opacity:1;
}


#txtHospital{
    position:fixed;

    left:4.9%;
    top:43.3%;

    opacity:0;
    transform:translateY(20px);

    transition:
        opacity 0.6s ease,
        transform 0.6s ease;

    pointer-events:none;
}

#txtHospital.visible{
    opacity:0.45;
    transform:translateY(0);
    pointer-events:auto;
}

#txtHospital.visible:hover{
    opacity:1;
}

#inicio{
    position:fixed;

    left:66%;
    top:64%;

    opacity:0;
    transform:translateY(20px);

    transition:
        opacity 0.6s ease,
        transform 0.6s ease;

    pointer-events:none;
}

#inicio.visible{
    opacity:1;
    transform:translateY(0);
    pointer-events:auto;
}


#rectangulo{
    position:fixed;
    width: 38.15%;

    left:62%;
    top:50%;

    opacity:0;
    transform:translateY(20px);

    transition:
        opacity 0.6s ease,
        transform 0.6s ease;

    pointer-events:none;
}

#rectangulo.visible{
    opacity:1;
    transform:translateY(0);
    pointer-events:auto;
}


