*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    overflow:hidden;
    background:white;

 font-family: "Source Code Pro", monospace;

}

.inicio{

    width:100vw;
    height:100vh;

    background-image:url("assets/textura.png");
    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;

}

.contenido{

    display:flex;
    flex-direction:column;
    align-items:center;

}

h1{

    color:#153D7A;

    text-align:center;

    line-height:1.15;

    margin-bottom:60px;

}

.regular{
    font-weight:400;
    font-size: 50px;
    letter-spacing:20px;
}

.bold{
    font-weight:700;
    font-size:85px;
    letter-spacing:20px;
}

button{

    background:#153D7A;
    color:white;

    border:none;

    padding:18px 42px;

    font-size:24px;
    font-weight:700;
    letter-spacing:3px;

    cursor:pointer;

    transition:.25s;

    /* sensación de profundidad */
    box-shadow:
        0px 10px 17px rgba(6, 20, 45, 0.716),
        0px 10px 17px rgba(0,0,0,.25);

}

button:hover{

    background:#ff4800;

    transform:translateY(-2px);

    box-shadow:
        0px 8px 16px rgba(30,15,0,.35),
        0 0 18px rgba(255,90,31,.45),
        0 0 40px rgba(255,90,31,.25);

}

button:active{

    transform:translateY(2px);

    box-shadow:
        0px 2px 4px rgba(0,0,0,.25);

}